# exclude all by default

*

# exceptions from `exclude all` rule
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

!.yarnrc.yml

!.yarn/versions
!package.json
!yarn.lock
!node_modules/
!tsconfig.json
!bin/**
!data/**
!src/main/**
